---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: $beige;
  font: 1em $georgia;
  color: $burgondy;
}

.container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helvetica;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 1.5em;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    text-decoration: underline;
  }
}

a.fr, a.en, a.enfr, a.es, a.de, a.pdf {
  background: white;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 30px 20px;
  background-origin: border-box;
  padding: 10px 10px 10px 35px;
  margin: 1px 10px 1px 0px;
  border: 2px solid $burgondy;
  display: inline-block;
  font-size: 0.8em;
  max-width: 50%;
}

a.fr {
  background-image: url('{{ site.baseurl }}/images/fr.png');
}

a.en {
  background-image: url('{{ site.baseurl }}/images/en.png');
}

a.enfr {
  background-image: url('{{ site.baseurl }}/images/en.png'), url('{{ site.baseurl }}/images/fr.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left, 30px;
  background-size: 30px 20px, 30px 20px;
  padding-left: 65px;
}

a.es {
  background-image: url('{{ site.baseurl }}/images/es.png');
}

a.de {
  background-image: url('{{ site.baseurl }}/images/de.png');
}

a.pdf {
  background-image: url('{{ site.baseurl }}/images/pdf.png');
  background-size: 25px 25px;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

ul.no-bullet {
  list-style-type: none;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 10px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 3px solid $burgondy;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 25%;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 0px;
  }
}

nav {
  float: right;
  font-family: $helvetica;
  font-size: 0.9em;
  width: 75%;
  margin-top: 40px;
  text-align: center;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 0.9em;
  }

  a {
    margin-left: 20px;
    color: $burgondy;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    
    &:hover, &:active {
        text-decoration: none;
        color: $burgondyLighter;
    }

    @include mobile {
      margin: 0 10px;
      color: $burgondy;
    }
  }
}

// To beat spam bots:
// https://matt.berther.io/2009/01/15/hiding-an-email-address-from-spam-harvesters/
span.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

//
// .main
//

.wrapper-footer {

}

footer {
  margin-top: 50px;
  border-top: 3px solid $burgondy;
  padding: 20px 0;
  text-align: center;
}

